.splash {
  background-color: var(--color-black);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.splash-logo {
  height: 80px;
}

.splash-header {
  padding: 20px;
}

.splash-title {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.splash-divider {
  background-color: var(--color-gray);
  border: 0;
  height: 1px;
  width: 80vw;
}

.splash-intro {
  font-size: large;
  font-family: serif;
}

.splash-link {
  color: var(--color-gold);
  text-decoration: none;
}
