:local(.splash) {
  background-color: var(--color-black);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

:local(.splash-logo) {
  height: 80px;
}

:local(.splash-header) {
  padding: 20px;
}

:local(.splash-title) {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0;
}

:local(.splash-divider) {
  background-color: var(--color-gray);
  border: 0;
  height: 1px;
  width: 80vw;
}

:local(.splash-intro) {
  font-size: large;
  font-family: serif;
}

:local(.splash-link) {
  color: var(--color-gold);
  text-decoration: none;
}
