:local(.ingredients-search) {
  border: 0;
  border-bottom: 1px solid var(--color-litegray);
  font-size: 1em;
  padding: 10px;
  width: 100vw;
}

:local(.ingredients-category) {
  margin-top: 20px;
}

:local(.ingredients-category-title) {
  color: var(--color-gray);
  font-size: 0.75em;
  margin: 0;
  padding: 0 10px 5px 10px;
  text-transform: uppercase;
}

:local(.ingredients-list) {
  background-color: white;
  border-top: 1px solid var(--color-litegray);
  border-bottom: 1px solid var(--color-litegray);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:local(.ingredients-list-item) {
  display: flex;
  font-family: serif;
  justify-content: space-between;
  padding: 10px;
}

:local(.ingredients-divider) {
  background-color: var(--color-litegray);
  border: 0;
  height: 1px;
  margin: 0 auto;
  width: calc(100vw - 20px); /* 2x left-right padding */
}
