:root {
  --color-black: #333;
  --color-gray: #888;
  --color-litegray: #ccc;
  --color-gold: #b48f49;
  --color-taupe: #f7f3eb;
}

body {
  background-color: var(--color-taupe);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
