:root {
  --size-bar: 50px;
}

:local(.layout-bar) {
  background-color: var(--color-black);
  display: flex;
  height: var(--size-bar);
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

:local(.layout-header) {
  composes: layout-bar;
  top: 0;
}

:local(.layout-footer) {
  composes: layout-bar;
  bottom: 0;
}

:local(.layout-body) {
  position: relative;
  margin: var(--size-bar) 0;
}

:local(.layout-typographical) {
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 1em;
  text-transform: uppercase;
}

:local(.layout-title) {
  composes: layout-typographical;
  font-family: serif;
  font-weight: normal;
  letter-spacing: 0.3em;
}

:local(.layout-link) {
  composes: layout-typographical;
  font-weight: normal;
  text-decoration: none;
}
